<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/" >Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/experiencia">Experiencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/estudios">Estudios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/habilidades">Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hobbies">Hobbies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacto">Contacto</a>
                </li>
            </ul>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col text-center mt-5">

                    <h1>Experiencia Laboral</h1>

                    <h3 class="mt-4" >Técnico de Sistemas</h3>
                    <h5 class="mb-4">Grupo Inova | 3 meses de experiencia</h5>

                    <p>Instalación de software en servidores y equipos clientes.</p>
                    <p>Instalación de hardware en equipos clientes-servidor</p>
                    <p>Control de sistemas operativos Linux y Windows.</p>

                    <h3 class="mt-4" >Ayudante Pizzero</h3>
                    <h5 class="mb-4">Pizzería NapOlé | 2 meses de experiencia.</h5>

                    <p>Sirviendo productos de la pizzería.</p>
                    <p>Hablar con clientes en diferentes idiomas.</p>
                    <p>Realización de diferentes productos de la pizzería</p>

                </div>

                </div>
            </div>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>